body {
    background-color: black;
  }

  #topo{
    height: 260px;
    background-image: url(imagem/cardapio-topo.jpg);

  }

  p{
    color: white;
  }

  h1 {
    color: yellow;
    font-weight: bold;
    font-size: 54px;
    text-decoration: underline;
    text-align: center;
  }
  
  h2 {
    color: black;
    background-color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
  }
  
  h3{
    color: yellow;
  }

  img{
    width: 500px;
  }
